
  <footer>
    <ul>
      <li><a href="/">&#169; QUEEN CITY DANCERS</a></li>
      <li><div class="vertical_line"></div></li>
      <li><a href="/about">ABOUT</a></li>
      <li><div class="vertical_line"></div></li>
      <li><a href="/contact">CONTACT</a></li>
      <li class="push_right">
        <a href="/">  
          <img src="../../images/facebook_logo.png" alt="facebook logo white" class="social_media_icons">
        </a>
      </li>
      <li>
        <a href="/">
          <img src="../../images/twitter_logo.png" alt="twitter logo white" class="social_media_icons">
        </a>
      </li>
      <li>
        <a href="/">
          <img src="../../images/instagram_logo.png" alt="instagram logo white" class="social_media_icons">
        </a>
      </li>
    </ul>
  </footer>

</body>
</html>