<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Queen City Dancers</title>
  <link rel="stylesheet" href="../../css/index.css">
</head>

<body>
  <header>
    <ul>
      <li><a href="/"><img src="../../../images/queen_city_dancers_logo.png" alt="queen dancers logo" class="logo" onclick="openHTMLFile('../html/index.html');"></a></li>
      <li class="push_right"><a href="/available_sessions/new">MAKE A NEW SESSION</a></li>
      <li><div class="vertical_line"></div></li>
      <li><a href="/">LOGIN</a></li>
      <li><div class="vertical_line"></div></li>
      <li><a href="/">SIGN UP</a></li>
    </ul>
  </header>

  <nav>
    <div class="horizontal_line"></div>
    <div class="box"><a href="/available_sessions">AVAILABLE SESSIONS</a></div>
  </nav>
