<%- include('./partials/header.ejs') %>
  <main>
    <div class="main_box">
      <h2>CONTACT</h2>
      <p>
        If encountering any problem please contact the page administrator
      </p>
      <p>Fernando Claudio Rodriguez</p>
      <p>fclaudio@uncc.edu</p> 
    </div>
  </main>
  <%- include('./partials/footer.ejs') %>
