<%- include('./partials/header.ejs') %>
  <main>
    <div class="main_box">
      <p>
        Welcome to the Queen City Dancers website.
      </p>
      <p>
        This is a community of dancers of all styles in the Charlotte area
        The purpose of this site is to allow an easier method to coordinate
        and connect with people. Here you will find salon styles such as 
        salsa, bachata, flamenco, etc to street styles such as krumping and breakdancing
      </p> 
      <p>
        Go to the "Available Sessions" section to see avaialble gatherings.
      </p>
      <p>
        Rememeber to be respectful of others and maintain social distancing.
      </p>
    </div>
  </main>
  <%- include('./partials/footer.ejs') %>
