<%- include('../partials/header.ejs') %>
<main>
    <div class="main_box">
    <form action="/available_sessions" method="POST">
        <ul>
            <li>
                <label for="type">Dance Type:</label>
                <input type="text" id="type" name="category">
            </li>
            <li>
                <label for="style">Session Title:</label>
                <input type="text" id="style" name="title">
            </li>
            <li>
                <label for="host">Host:</label>
                <input type="text" id="host" name="host">
            </li>
            <li>
                <label for="date">When:</label>
                <input type="date" id="date" name="date">
            </li>
            <li>
                <label for="start_time">Start:</label>
                <input type="time" id="start_time" name="start_time">
            </li>
            <li>
                <label for="end_time">End:</label>
                <input type="time" id="end_time" name="end_time">
            </li>
            <li>
                <label for="location">Meeting Location:</label>
                <input type="text" id="location" name="meeting_location">
            </li>
            <li>
                <label for="address">Formal Adress:</label>
                <input type="text" id="address" name="address">
            </li>
            <li>
                <label for="detail">Details:</label>
                <textarea id="detail" name="details"></textarea>
            </li>
            <li>
                <label for="image_url">Image URL:</label>
                <input type="url" id="image_url" name="image">
            </li>
            <li class="button">
                <button>SUBMIT DANCE SESSION</button> 
            </li>
        </ul>
    </form>
    </div>
  </main>

  <%- include('../partials/footer.ejs') %>